@import 'assets/styles/mixins.scss';


// .flipCard {
//     background-color: transparent;
//     perspective: 1000px;
// }
  
// .flipCardInner {
//     position: relative;
//     text-align: center;
//     transition: transform 0.6s;
//     transform-style: preserve-3d;
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
// }
  
// .flipCard:hover .flipCardInner {
//     transform: rotateY(360deg);
// }
  
// .flipCardFront {
//     position: absolute;
//     -webkit-backface-visibility: hidden;
//     backface-visibility: hidden;
// }
  
// .flipCardFront {
//     background-color: #bbb;
//     color: black;
// }


// @import 'assets/styles/mixins.scss';

@keyframes background-fade {
    0% {
        background-color: green;
    }
    100% {
        background-color: none;
    }
}

#guardadoC {
    padding:5px;
}

#guardadoC.animating {
    animation: background-fade 3s;
}