@import 'assets/styles/mixins.scss';

.form {
  padding: 0 50px;
}

.form label {
  font-size: 16px;
  font-weight: 500;
}

.form input {
  height: 48px;
  width: 100%;
}

.formItem {
  width: 100%;
}

.form textarea {
  width: 100%;
  height: 102px !important;
}

.searchBtn {
  min-width: $btn-width;
  float: right;
  background: $btn-primary-color;
}

.datepicker {
  display: inline-block !important;
  width: 100% !important;
}
