<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% include "app/logo.html"   %}
	{% load staticfiles %}

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
 	<script src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>
	<script src="{% static 'global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/ui/ripple.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'global_assets/js/plugins/forms/validation/validate.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/forms/styling/switch.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>

	<script src="{% static 'assets/js/app.js' %}"></script>
	<script src="{% static 'global_assets/js/demo_pages/form_validation.js' %}"></script>
	
	  
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static">
		 
 <div class="navbar-brand">
            <a href="/" class="d-inline-block">
                <img src="{% static 'global_assets/images/sm_learning.png' %}"   alt="" >
            </a>
        </div>
		 

		<div class="collapse navbar-collapse" id="navbar-mobile">
			 

			<ul class="navbar-nav ml-md-auto">
 

				<li class="nav-item">
					<a href="#" class="navbar-nav-link">
						<i class="icon-switch2"></i>
						<span class="d-md-none ml-2">Logout</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">

				<!-- Login form -->
				<form class="login-form form-validate-jquery"  method="post"  > {% csrf_token %}
					<div class="card mb-0">
						<div class="card-body">
							<div class="text-center mb-3">
								<i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="mb-0">Change your account password</h5>
								<span class="d-block text-muted">Your credentials</span>
							</div>
							  

							<div class="form-group form-group-feedback form-group-feedback-left">
								<input type="password" class="form-control" id="password" name="password" placeholder="Enter Your New Password"  required>
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>

							<div class="form-group form-group-feedback form-group-feedback-left">
								<input type="password" class="form-control"  id="repeat_password"  placeholder="Confirm Password"  required>
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>


							<div class="form-group d-flex align-items-center">
								<div class="form-check mb-0">
									<label class="form-check-label">
								 
									</label>
								</div>

								 
							</div>
							 <input type="hidden" value="{{token}}" name="token">

							<div class="form-group">
								<button type="submit"  class="btn btn-primary btn-block">Submit <i class="icon-circle-right2 ml-2"></i></button>
							</div>
 
						</form>

						 
						</div>
					</div>
				</form>
				<!-- /login form -->

			</div>
			 

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
 
